<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Permissions -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" /> <!-- For Android 14 and above (API 34+) to read images -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" /> <!-- For Android 12 and below (up to API 32) to read external storage -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- Optional for older devices (API level 28 and below) -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage"
        tools:targetApi="30" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CollageMakerMakeAnything"
        tools:targetApi="31">
        <activity
            android:name=".Activity.ComingSoonActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.BackgroundActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.CutoutActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.EnhanceActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.SavePathActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.SaveActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.DrawActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.MultiFitActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.StickerActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.ManageSubscriptionActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.CropActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.EditActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.FilterActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.TextActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.FrameActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.CollagePhotoEditingActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.ImageCollageActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.PremiumActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.EditImagePickerActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.StoreActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.TemplatesActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.ImagePickerActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>